{% extends 'base.html' %}

{% block content %}
    <h1 class="border-bottom pb-2 mb-4">Iniciar Sesión</h1>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table> {{ form.as_table }} </table>
            <div class="form-group mt-4">
                <button class="btn btn-outline-info" type="submit">Iniciar Sesión</button>
            </div>
        </form>
        <div class="border-top mt-3 pt-3">
            <small class="text-muted">
                <a href="{% url 'publicaciones:home' %}">Volver</a>
            </small>
        </div>
    </div>
{% endblock content %}
