{% extends 'base.html' %}
{% block content %}

<h1 class="border-bottom pb-2 mb-4">Personaliza tu perfil</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <table> {{ form.as_p}} </table>
            <div class="form-group mt-4">
                <button class="btn btn-outline-info" type="submit">Siguiente</button>
            </div>
        </form>
        <div class="border-top mt-3 pt-3">
            <small class="text-muted">
                ¿Ya tiene cuenta? <a class="ml-2" href="{% url 'login' %}">Iniciar Sesión</a>
            </small>
        </div>
    </div>










{% endblock content %}
