{% extends 'base.html' %}

{% block content %}

<h1><a href="{% url 'publicaciones:ver' publicacion.id %}">{{ publicacion.titulo }}</a></h1>
<img src="{{publicacion.imagen.url}}" alt="{{publicacion.titulo}}" style="width: 100%;" class="img-thumbnail" />
<dl>
  <dt>{{publicacion.categoria}}</dt>
  <dd>{{publicacion.autor.first_name}} {{publicacion.autor.last_name}} - {{publicacion.fecha}}</dd>
</dl>
<p>{{publicacion.descripcion}}</p>
<p>{{publicacion.contenido}}</p>

<div>
  <form action="{% url 'publicaciones:comentar' publicacion.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table> {{ form.as_table }} </table>
    <div class="form-group mt-4">
      <button class="btn btn-outline-info" type="submit">Guardar</button>
    </div>
  </form>
</div>

{% endblock content %}
