{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<h1><a href="{% url 'publicaciones:ver' publicacion.id %}">{{ publicacion.titulo }}</a></h1>
<img src="{{publicacion.imagen.url}}" alt="{{publicacion.titulo}}" style="width: 100%;" class="img-thumbnail" />
<dl>
  <dt>{{publicacion.categoria}}</dt>
  <dd>{{publicacion.autor.first_name}} {{publicacion.autor.last_name}} - {{publicacion.fecha}}</dd>
</dl>
<p>{{publicacion.descripcion}}</p>
<p>{{publicacion.contenido}}</p>

<div>
  <form action="{% url 'publicaciones:comentar' publicacion.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-outline-info">Guardar</button>
    {% endbuttons %}
  </form>
</div>

{% endblock content %}
