<!DOCTYPE html>
{% load static %}
{% load tags %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Bake Shop</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
  </head>
  <body>
    <header style="background-color: #9badea;color: rgb(255, 255, 255);">
      <div class="container">
        <div class="row py-4">
          <div class="col-sm-3">
            <a href="{% url 'publicaciones:home' %}" class="navbar-brand d-inline-block p-0" style="color: white;">
              <h1>BAKE SHOP</h1>
            </a>
          </div>
          <div class="col-sm-6 py-1">
            <form action="{% url 'publicaciones:buscar' %}" class="d-flex">
              <input class="form-control me-2" type="search" name="q" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
          <div class="col-sm-3 text-end">
            {% if user.is_authenticated %}
            <div class="nav-item dropdown ml-auto">
              <div class="d-inline-block">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  <span>Hola {{user.username}}</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'publicaciones:nueva_publicacion'%}">Nueva Publicación</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'publicaciones:mis_publicaciones'%}">Mis Publicaciones</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'pefil'%}">Pefil</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout'%}">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
            {% else %}
            <a href="{% url 'login'%}" style="color: white;">Iniciar sesión</a> / 
            <a href="{% url 'registro'%}" style="color: white;">Registrarse</a>
            {% endif %}
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'publicaciones:home' %}">Inicio</a>
              </li>
              <li class="nav-item mx-auto">
                <a class="nav-link" href="{% url 'usuarios:emprendedores' %}">Conoce a nuestros emprendedores</a>
              </li>
              <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorías
                </a>
                {% menu_categorias %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container py-5"> 
        {% block content %} {% endblock %}
      </div>
    </main>
    <footer style="background-color: #9badea;color: rgb(255, 255, 255);">
      <div class="container">
        <div class="py-4">
          <h3>BAKE SHOP</h3>
          <p>
            ¿Querés unirte a nuestra comunidad?
            <br>Ayudamos a potenciar tu marca
            <br><a href="mailto:bake_shop@gmail.com" title="Enviar email a Bake shop">Contactanos</a> 
          </p>
          <p>
            <img src="{% static 'imagenes/face.png' %}" width="20" height="20">
            <img src="{% static 'imagenes/instagram.png' %}" width="20" height="20">
            <img src="{% static 'imagenes/correo.png' %}" width="20" height="20">
          </p>
        </div>
        <div class="pb-5 text-center">
          Derechos Reservados 2021 © <strong>BAKE SHOP</strong>.
        </div>
      </div>
    </footer>
  </body>
</html>
