<!DOCTYPE html>
<html>
<head>
	<title>Conoceme</title>
</head>
<body>
		<h2>Sobre mi<h2>
		<div align="center">
		<img src="https://cdn-3.expansion.mx/dims4/default/1785f2f/2147483647/strip/true/crop/7360x4912+0+0/resize/800x534!/quality/90/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Ff9%2F28%2F9a0de9d44309b2fc6e10996ae7d9%2Fshutterstock-163032179.jpg" width="40%">
		<div align="left">
		<h6>Soy Ana Gomez, tengo 24 años, soy chef pastelera.</h6>
	</div>
</body>
</html>



<br><a href="{% url 'home' %}">VOLVER</a>